@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #333;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.6s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}
.container.show-nav {
  transform: rotate(-20deg);
}
.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  color: #fff;
  margin: 40px 0px;
  text-transform: uppercase;
  transform: translateX(-100%);
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 25px;
  transform: translateX(-200%);
}

nav ul li i {
  margin-right: 10px;
}
.container.show-nav .circle {
  transform: rotate(-50deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #fa7676;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fafafa;
}
.circle button:focus {
  outline: none;
}

.circle #open {
 top:60%;  
 left:60%;
}
.circle #close { 

  top:66%;
  transform: rotate(72deg);
  transform-origin: top left;
}

.content img {
  max-width: 100%;
}
.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  font-style: italic;
  color: #555;
}

.content p {
  color: #333;
  line-height: 1.5;
}
