@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&family=Roboto+Condensed:wght@300&family=Roboto+Mono:ital,wght@0,200;0,700;1,100;1,500&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }