@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

*{
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif; 
  background-color: #342056;
  text-align: center; 
  height: 100vh; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  overflow-y: hidden; 

}



.container { 
  background-color: #5454c5;
  width:fit-content;
  padding: 30px;
  color: white;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.container > h3 { 
  margin:0;
  /* border:1px solid red; */
  color: white;
}

.joke {
  /* border:1px solid red; */
  display: flex ;  
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  height: 200px;
  width: 600px;
  color: white;
}

#jokeBtn { 
  /* border:5px solid red; */
  padding: 10px 20px;
  background-color: #342056;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px; 
  margin:5px;
}

#jokeBtn:focus {
  outline: 0;
}

#jokeBtn:active {
  transform: scale(0.98);
}

@media (max-width: 684px) { 

  .container>h3{
    font-size: 0.8rem;
  }

  .joke {
    width: 80%; 
    margin:auto; 
    height: 60%; 
    font-size: 0.8rem;  
    margin-top: 5px; 
    margin-bottom: 5px;
  } 

  #jokeBtn{ 
    margin:0;
    font-size: 0.8rem;
  }


}

@media (max-width:389px){
  .container>h3{
    font-size: 0.5rem;
  }

  .joke {
    width: 80%; 
    margin:auto; 
    height: 60%; 
    font-size: 0.5rem;  
    margin-top: 5px; 
    margin-bottom: 5px;
  } 

  #jokeBtn{ 
    margin:0;
    font-size: 0.5rem;
  }
}

 