@import url("https://fonts.googleapis.com/css2?family=Oswald");

* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

h3{
  margin-bottom: 0; 
  text-align: center; 
  
}

small{
  display: block; 
  text-align:center; 
}

.fa-heart{
  color: red;
} 


.loveMe{
  height:440px; 
  width:300px; 
  background: url('https://images.unsplash.com/photo-1617195737496-bc30194e3a19?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80'); 

  margin: auto; 
  cursor: pointer ; 
  max-width: 100%; 
  position: relative;   
  /* box-shadow: ; */
} 

.loveMe .fa-heart{
  position: absolute;  
  animation:grow 0.6s linear;  
  color:white;
  transform:translate(-50%,-50%) scale(0); 
}


@keyframes grow{ 
  to{
    transform:translate(-50%,-50%) scale(10);   
    color: white;
    opacity: 0;;
  }
}
