@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


*{
    box-sizing: border-box;
}
body{  
    font-family: "Muli",sans-serif;
    background-color: steelblue;
    display: flex;  
    /* flex-direction: column;  */
    margin:0;  
    align-items: center; 
    justify-content:center; 
    height: 100vh; 
    overflow:hidden;
} 
.container{

    background-color: rgb(37, 100, 178); 
    color:#fff; 
    padding:20px 40px; 
    border-radius:5px;
} 

.container h1{
    text-align: center; 
    margin-bottom:30px;
} 

.container button{
    cursor:pointer;
    padding:10px;  
    display: inline-block;
    border-radius: 5px;    
    width:100%;
    background-color: lightblue; 
    border:steelblue; 
    font-size: 16px; 
    font-family: inherit; 
    margin-top: 15px;
} 

.form-control{
    position: relative; 
    margin:40px 0px;
}

.form-control label{
    position: absolute; 
    top:5px; 
    left:0px; 
    margin-bottom: 30px;
}

.form-control input{ 
    background-color: transparent; 
    border:0; 
    border-bottom:1px solid #fff; 
    display: block; 
    width: 100%; 
    
    font-size: 20px;
    color:#fff;    
} 

.form-control label span{
    /* position: absolute;  
    display: inline-block;
    font-size: 18px; 
    min-width:5px; */
}

.form-control input:focus,.form-control input:valid{
    outline:0; 
    border-bottom-color:lightblue;
}

.form-control input:focus +label span,.form-control input:valid + label span{
    color:lightblue; 
    transform: translateY(30px);
}

.text{
    margin:30px 0px;
}


.text a{
    text-decoration: none; 
    
}


 

.btn:focus{
    outline: 0;
}


.btn:active{
    transform: scale(0.99);
}


 



