@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

* {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.bg{
    background:url('https://images.unsplash.com/photo-1543373014-cfe4f4bc1cdf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGlnaCUyMHJlc29sdXRpb258ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60') no-repeat center center/cover;
    position:absolute; 
    top: -30px;
    left:-30px; 

    width:calc(100vw + 60px); 
    height:calc(100vh + 60px); 
 
    z-index:-1;
    filter:blur(30px);
}

.loading-text{
    font-size: 50px; 
    color:#fff;
}